.calendarCard {
  width: 353px;
  padding: 7px 23px 35px;
  border-radius: 8px;
  background-color: var(--gray-dark);
  color: var(--gray-light);
}

.title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.weekdays {
  margin-bottom: 6px;
}

.weekdays,
.days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 6px;
}

.weekday,
.day {
  justify-self: center;
}

.day {
  transition: border-color 0.3s, color 0.3s;
}

.day:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.today {
  border-color: var(--primary);
  color: var(--primary);
}
