.objectSelectTitle {
  color: var(--gray-light);
  margin-bottom: 10px;
}

.dateTitle {
  color: var(--gray-light);
  margin: 30px 0;
}

.searchSelect div {
  background-color: var(--gray-dark);
  border: none;
  color: var(--white);
}