.wrapper {
  background-color: var(--violet-dark);
  padding: 16px;
  border-radius: 8px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  /* border: 2px solid var(--primary); */
}

.thead {
  display: table-header-group;
  font-weight: 500;
  font-size: 12px;
  color: var(--white);
}

.tbody {
  display: table-row-group;
  font-size: 14px;
}

.tr {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}

.tbody .tr:nth-of-type(2n + 1) {
  background-color: var(--gray-dark);
}

.cell {
  padding: 16px 12px;
  /* border: 1px solid var(--primary); */
}

.table .tbody .tr .cell:last-child {
  border-right: none;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 110px;
  color: var(--white);
}

.input:placeholder-shown {
  text-overflow: ellipsis;
}
